.cover_image {
    background: url('/images/create_user.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 40;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 45;
    opacity: 75%;
}

.paper {
    width: 25%;
    margin: 12.5% auto 0 auto;
    padding: 10px 20px 30px 20px;
    position: relative;
    z-index: 50;
    background: rgb(37, 37, 37);
    font-family: Ubuntu, sans-serif;
}

.head {
    color: white;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.textFieldBasic {
    width: 100%;
    flex-grow: 1;
}

.textBlock {
    display: flex;
    flex-direction: row;
    margin: 5px;
    flex-grow: 1;
    width: 100%;
}